<link rel="stylesheet" href="/static/assets/css/style.css" type="text/css">
{% block content %}

<div class="login-screen">
    <div class="app-title">
        <h1>Mulai daftar sebagai member!</h1>
    </div>
    <form class="form" action="{{url_for('signup')}}" method="POST" role="form">
        {{ form.hidden_tag() }}

        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
            {{form.email.label}}
            {{ form.email(placeholder="mukidi@gmail.com", class="form-control") }}
            <p class="help-block">{{ form.email.errors[0] }}</p>
        </div>
        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
            {{form.password.label}}
            {{ form.password(placeholder="Min. 6 Characters", class="form-control") }}
            <p class="help-block">{{ form.password.errors[0] }}</p>
        </div>
        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
            {{form.username.label}}
            {{form.username(placeholder="mukidi", class="form-control")}}
            <p class="help-block">{{ form.username.errors[0] }}</p>
        </div>
        <div class="form-group {% if form.agree.errors %} has-error {% endif %}">
            <label class="checkbox">
                {{form.agree}} {{form.agree.label}}
            </label>
            <p class="help-block">{{ form.agree.errors[0] }}</p>
        </div>
        <button type="submit" class="btn btn-success">Daftar</button>
    </form>
<br>
</div>



{% endblock %}
